{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Mori Keli Portofolio</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <form action="" method="post" enctype="multipart/form-data" class="card card-body mt-5">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Upload Project</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{form|crispy}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-md btn-primary btn-block">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>